@(
  platforms: Collection[org.ubicollab.ubibazaar.core.Platform],
  categories: org.ubicollab.ubibazaar.core.Category
  )
@import b3.vertical.fieldConstructor  // Declares a vertical field constructor as default

@ubibazaar("New device registration") {

  <div class="jumbotron" id="welcome-message" class="collapse in">
    <div class="container">
      <h1>New app</h1>
      <p>Add an app you created so others can install it to their devices!</p>
    </div>
  </div>
  
  <div class="container">
    @b3.form(routes.AppDevelopmentController.add) {
      
       <div class="row">
            <div class="col-md-6">
      @b3.text( AppDevelopmentController.form("name"), '_label -> "App name", 'placeholder -> "How you want to call your app" )
      </div>
      <div class="col-md-6 form-group">
        <label for="sel1">Platform</label>
        <select class="form-control" id="platform" name="platform">
        @for(platform <- platforms) {
          <option value="@platform.getId">@platform.getName</option>
        }
        </select>
        </div>
        </div>
      <!-- FIXME categories -->
      <!-- FIXME properties -->
      @b3.textarea( AppDevelopmentController.form("description"), '_label -> "Description", 'rows -> 5 )

      @b3.submit('class -> "btn btn-default"){ Add app }
    }
  </div>

}
