@(
  apps: List[org.ubicollab.ubibazaar.core.App]
)

@ubibazaar("App catalog") {

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" id="welcome-message" class="collapse in">
      <div class="container">
        <h1>App store</h1>
        <p>Have you created any app? <a href="@routes.AppDevelopmentController.step1">Add it!</a></p>
      </div>
    </div>

    <div class="container">
    	@app_list(null, "There are no apps in the app store!", apps)
    </div>

}
