@(
	apps: List[org.ubicollab.ubibazaar.core.App],
	platform: java.util.Optional[org.ubicollab.ubibazaar.core.Platform],
	author: java.util.Optional[org.ubicollab.ubibazaar.core.User],
	category: java.util.Optional[org.ubicollab.ubibazaar.core.Category]
)

@ubibazaar("App catalog") {

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" id="welcome-message" class="collapse in">
      <div class="container">
        <h1>App search</h1>
        @if(platform.isPresent()) {<h3>Platform: @platform.get.getName</h3>}
        @if(author.isPresent()) {<h3>Author: @author.get.getName</h3>}
        @if(category.isPresent()) {<h3>Category: @category.get.getName</h3>}
      </div>
    </div>

    <div class="container">
    	@app_list("Results (" + apps.size + ")", apps)
    </div>

}
