@(
  platforms: Collection[org.ubicollab.ubibazaar.core.Platform],
  categories: org.ubicollab.ubibazaar.core.Category
  )
@import b3.vertical.fieldConstructor  // Declares a vertical field constructor as default

@ubibazaar("New device registration") {

  <div class="jumbotron" id="welcome-message" class="collapse in">
    <div class="container">
      <h1>New app</h1>
    </div>
  </div>
  
  <div class="container">
    <div class="progress">
      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
        <span class="sr-only">Step 1 of 2</span>
      </div>
    </div>
    <h1>Step 1 (of 2) <small>Setting name, description, platform and categories</small></h1>
    <p>Please select the platform on which you built your app, and choose name and description 
    for the app. This is important for the people to find it in the app store.</p>
    
    <form action="/newapp_2" method="POST" class="form-vertical" role="form" data-toggle="validator">

      <div class="row">
        <div class="col-md-6">
          <div class="form-group" id="name_field">
            <label class="control-label" for="name">App name</label>
            <input type="text" id="name" name="name" value="" class="form-control" placeholder="How you want to call your app" data-error="Name is required." required>
          </div>
        </div>
        
        <div class="col-md-6 form-group">
          <div class="form-group" id=platform_field">
	          <label for="sel1">Platform</label>
	          <select class="form-control" id="platform" name="platform" data-error="Platform is required." required>
	            @for(platform <- platforms) {
	            <option value="@platform.getId">@platform.getName</option>
	          }
	          </select>
	        </div>
        </div>
      </div>
      
      <div class="form-group" id="description_field">
        <label class="control-label" for="description">Description</label>
        <textarea id="description" name="description" class="form-control" placeholder="What is the app doing?" rows="5" data-error="Please write at least a short description." required></textarea>
      </div>

      <!-- FIXME categories -->

      <div class="form-group  " id="">
        <button type="submit" class="btn btn-default">Next step</button>
      </div>
    </form>
  </div>

}
