@(
  header: String,
  headerFallback: String,
  apps: Collection[org.ubicollab.ubibazaar.core.App]
)

<!-- header -->
@util.smartheader(header, headerFallback, !apps.isEmpty)

<div class="row">

  @for(app <- apps) {
  <div class="col-md-4">
    <h2>@app.getName() <small>for <a href="@routes.Apps.query()?platform=@app.getPlatform.getId">@app.getPlatform.getName</a></small></h2>
    <h6>developed by <a href="@routes.Apps.query()?author=@app.getAuthor.getId">@app.getAuthor.getName</a></h6>
    
    @if(!app.getCategory.isEmpty()) {
    <h6>Categories: 
    @for(category <- app.getCategory) {
      <a href="@routes.Apps.query()?category=@category.getId">@category.getName</a>
    }
    </h6>
    }
    
		<p>@app.getDescription()</p>
		<p>
			<a class="btn btn-primary" href="@routes.Installations.install(app.getId)" role="button">Install</a>
			<a class="btn btn-default" role="button" href="@routes.Apps.detail(app.getId)">View details &raquo;</a>
		</p>
	</div>
	}
		
</div>
