@(
  devices: List[org.ubicollab.ubibazaar.core.Device],
  platform: java.util.Optional[org.ubicollab.ubibazaar.core.Platform]
)

@ubibazaar("Device dashboard") {
  
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" id="welcome-message" class="collapse in">
      <div class="container">
        <h1>Device search</h1>
        @if(platform.isPresent()) {<h3>Platform: @platform.get.getName</h3>}
      </div>
    </div>

    <div class="container">
    	@device_list("Results (" + devices.size + ")", devices)
    </div>

}
