@(
  header: String,
  headerFallback: String, 
  devices: Collection[org.ubicollab.ubibazaar.core.Device]
)

<!-- header -->
@util.smartheader(header, headerFallback, !devices.isEmpty)

<div class="row">

	@for(device <- devices) {
	<div class="col-md-4">
		<h2>@device.getName() <small>@device.getPlatform.getName</small></h2>
		<p>
		  <!-- FIXME info about apps and managers? -->
			<a class="btn btn-default" role="button" href="@routes.Devices.detail(device.getId)">View details &raquo;</a>
		</p>
	</div>
	}
		
</div>
