@(
  platform: java.util.Optional[org.ubicollab.ubibazaar.core.Platform],
  devices: Collection[org.ubicollab.ubibazaar.core.Device]
)

@ubibazaar("Device dashboard") {
  
    <div class="jumbotron" id="welcome-message" class="collapse in">
      <div class="container">
        <h1>Device search</h1>
        <!-- filter information -->
        @if(platform.isPresent()) {<h3>Platform: @platform.get.getName</h3>}
      </div>
    </div>

    <div class="container">
    	@device_list(
    	  "Results (" + devices.size + ")", 
    	  "No results matching criteria.", 
    	  devices
    	  )
    </div>

}
