@(devices: List[org.ubicollab.ubibazaar.core.Device])

@ubibazaar("Device dashboard") {
  
  <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" id="welcome-message" class="collapse in">
      <div class="container">
        <h1>Devices</h1>
        <p>Register your devices here so you can install software to them directly from UbiBazaar!</p>
        <p>
          <a class="btn btn-primary btn-lg" href="#" role="button">Register a device</a>
        </p>
      </div>
    </div>

    <div class="container">
    	@device_list("Registered devices", devices)
    </div>

}
