@(
  device: org.ubicollab.ubibazaar.core.Device,
  managers: Collection[org.ubicollab.ubibazaar.core.Manager],
  installations: Collection[org.ubicollab.ubibazaar.core.Installation]
)

@ubibazaar(device.getName) {

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" id="welcome-message" class="collapse in">
      <div class="container">
        <h1>@device.getName <small>@device.getPlatform.getName</small></h1>
      </div>
    </div>

    <div class="container">
    <!-- managers -->
    @if(managers.isEmpty) {
      <div class="alert alert-warning" role="alert">
        There are no managers installed on this device. Please <a href="@routes.Apps.index" class="alert-link">install one</a> in order to be able to install apps!
      </div>
    }
      
    <!-- installations -->
    @if(!installations.isEmpty) {
      @installation_list(Optional.of("Installed apps"), installations)
    } else {
      <div class="alert alert-info" role="alert">
        There are no apps installed on this device. Go to the <a href="@routes.Apps.index" class="alert-link">app store</a> and install some!
      </div>
    }
    </div>

}
