@(
  app: org.ubicollab.ubibazaar.core.App,
  devices: List[org.ubicollab.ubibazaar.core.Device],
  message: Optional[String]
)

@ubibazaar("Installing " + app.getName) {
  
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" id="welcome-message" class="collapse in">
      <div class="container">
        <h1>Installing @app.getName</h1>
      </div>
    </div>

    <div class="container">
	    @if(message.isPresent) { 
	    <div class="alert alert-danger alert-dismissible fade in" role="alert">
	      <p>@message.get</p>
	    </div>
	    }
	    
      @util.smartheader(
        "Select device you want to install to. <small><a href=\"" + routes.Devices.registrationForm + "\">Want to add a new one?</a></small>",
        "You do not have any compatible device. <small><a href=\"" + routes.Devices.registrationForm + "\">Want to add a new one?</a></small>",
        !devices.isEmpty())

      @for(device <- devices) {
		  <div class="col-md-4" class="thumbnail">
        <a href="@routes.Installations.installTo(app.getId,device.getId)">
          <h1>@device.getName()<br/>
          <small>@device.getPlatform.getName</small></h1>
        </a>
		  </div>
		  }
    </div>

}
