@(title: String)(content: Html)

@activateOn(name: String) = {
  @if(request.uri.startsWith("/" + name)) {
    class="active"
  }
}

<!DOCTYPE html>

<html>
  <head>
    <title>UbiBazaar - App store for the Internet of Things - @title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="@routes.Assets.at("javascripts/hello.js")" type="text/javascript"></script>
     
    <!-- bootstrap --> 
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://bootswatch.com/flatly/bootstrap.min.css"> <!-- lumen paper superhero yeti sandstone-->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	        </button>
	        <a class="navbar-brand" href="/" style="font-family: 'Montserrat', sans-serif">UBIBAZAAR</a>
	      </div>
	      <div id="navbar" class="navbar-collapse collapse">
          <!-- left -->
          <ul class="nav navbar-nav navbar-left">
            <li @activateOn("apps")><a href="@routes.Apps.index()">App store</a></li>
            
            @if(session.get("userid") != null) { 
            <li @activateOn("devices") @activateOn("pair")><a href="@routes.Devices.overview()">My devices</a></li>
            }
            
          </ul>
	        	
          <!-- right -->
          <ul class="nav navbar-nav navbar-right">
            @if(session.get("userid") != null) { 
            <li @activateOn("profile")><a href="@routes.Users.profile()">Profile (@session.get("name"))</a></li>
            <li><a href="@routes.Users.logout">Log out</a></li>
            } else {
            <li @activateOn("login")><a href="@routes.Users.loginForm">Log in</a></li>
            <li @activateOn("register")><a href="@routes.Users.registrationForm">Register</a></li>
            }
          </ul>
        </div>
      </div>
    </nav>
    
    <main>
      @content
    </main>
    
    <footer class="container">
      <hr>
      <p>UbiBazaar 2015. </p>
      <p>All the software implemented in the UbiBazaar project is released under 
      <a href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache License Version 2.0</a> 
      and all sources can be found on 
      <a href="https://github.com/ubibazaar">https://github.com/ubibazaar</a>.</p>
      <p>For more information on the UbiBazaar project, see project webpages on 
      <a href="https://ubibazaar.github.io">https://ubibazaar.github.io</a>.</p>
    </footer>
  </body>
</html>

