@(
  user: org.ubicollab.ubibazaar.core.User, 
  authoredApps: List[org.ubicollab.ubibazaar.core.App]
)

@ubibazaar(user.getName) {
	
	<!-- FIXME own profile should look a bit different than profile of others..
	maybe show devices? change password? -->

  <div class="jumbotron" id="welcome-message" class="collapse in">
    <div class="container">
      <h1>@user.getName <small>@user.getUsername</small></h1>
    </div>
  </div>

  <div class="container">
    @app_list(
      "Your apps. <small>Created more? <a href=\"" + routes.AppDevelopmentController.step1 + "\">Add them!</a></small>", 
      "You have not added any apps. <small>Created any? <a href=\"" + routes.AppDevelopmentController.step1 + "\">Add them!</a></small>", 
      authoredApps)
  </div>

}
